<mat-card
  appearance="outlined"
  class="container mt-5"
  [class.h-100]="error() || loading() || !booksList().length"
>
  <app-header
    (reloadData)="loadData()"
    (searchChange)="loadData($event)"
    (createNewBook)="onActionClick(BookActionNamesEnum.create, null)"
  ></app-header>

  @if (loading()) {
    <div class="d-flex align-items-center justify-content-center h-100">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else if (error()) {
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <h5>Something went wrong. Please try again.</h5>
      <button mat-raised-button (click)="loadData()">Reload</button>
    </div>
  } @else if (!booksList().length) {
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <h5>No books found</h5>
      <ng-container *ngTemplateOutlet="addBook"></ng-container>
    </div>
  } @else {
    <div class="container">
      <div class="row">
        @for (book of booksList(); track book.id) {
          <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <app-book
              [book]="book"
              (bookClick)="onActionClick(BookActionNamesEnum.open, book)"
              (bookEdit)="onActionClick(BookActionNamesEnum.edit, book)"
              (bookDelete)="onActionClick(BookActionNamesEnum.delete, book)"
            ></app-book>
          </div>
        }
        <ng-container *ngTemplateOutlet="addBook"></ng-container>
      </div>
    </div>
  }
</mat-card>

<ng-template #addBook>
  <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
    <mat-card class="d-flex justify-content-center align-items-center h-100 book-card py-3"
              (click)="onActionClick(BookActionNamesEnum.create, null)"
    >
      <mat-icon class="add-icon"
                matTooltip="Create new book card"
                [matTooltipShowDelay]="HINT_SHOW_DELAY"
      >add</mat-icon>
    </mat-card>
  </div>
</ng-template>
